img.profile{
	max-width:150px;
	max-height:150px;
}

img.thumbnail{
	/*max-width:150px;
	max-height:150px;*/
	height: 100px;
	overflow: hidden;
	padding: 5px;
	border-style: solid;
	border:white;
}

img.friend{
	max-width:100px;
	max-height:100px;
}

.header img{
	max-height: 150px;
	max-width: 150px;
	margin-top: -5px;
	float:left;
	}
#logoHeader img{
	max-height: 200px;
	max-width: 200px;
	margin-top: -37px;
	}
	
img.photoView{
	max-height: 400px;
	max-width: 400px;
	}

.albums{
	float:left;
	margin-bottom: 5px;
	}

.individualAlbum{
	max-width: 120px;
	height:100px;
	overflow: hidden;
	float: left;
	padding:10px;
	
	}

.crop{
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
	margin:5px;
	
	}
.topNavLink{
float:right}