body{
	background-color:white;
	font-family: 'Open Sans', 'Helvetica Neue', Arial sans-serif;
	}

.container a{text-decoration: none;}

#newUser {
	float:left;
	width:150px;
}

#login {
	float:right;
	width:150px;
}

.section {
	word-wrap: break-word;
}
